<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDuenioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDuenioLabel_pkDuenio}" for="pkDuenio" />
                    <h:inputText id="pkDuenio" value="#{duenioController.selected.pkDuenio}" title="#{bundle.EditDuenioTitle_pkDuenio}" required="true" requiredMessage="#{bundle.EditDuenioRequiredMessage_pkDuenio}"/>
                    <h:outputLabel value="#{bundle.EditDuenioLabel_fkUsuario}" for="fkUsuario" />
                    <h:selectOneMenu id="fkUsuario" value="#{duenioController.selected.fkUsuario}" title="#{bundle.EditDuenioTitle_fkUsuario}" required="true" requiredMessage="#{bundle.EditDuenioRequiredMessage_fkUsuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{duenioController.update}" value="#{bundle.EditDuenioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDuenioViewLink}"/>
                <br />
                <h:commandLink action="#{duenioController.prepareList}" value="#{bundle.EditDuenioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDuenioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
