<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDuenioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDuenioEmpty}" rendered="#{duenioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{duenioController.items.rowCount > 0}">
                    <h:outputText value="#{duenioController.pagination.pageFirstItem + 1}..#{duenioController.pagination.pageLastItem + 1}/#{duenioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{duenioController.previous}" value="#{bundle.Previous} #{duenioController.pagination.pageSize}" rendered="#{duenioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{duenioController.next}" value="#{bundle.Next} #{duenioController.pagination.pageSize}" rendered="#{duenioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{duenioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDuenioTitle_pkDuenio}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkDuenio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDuenioTitle_fkUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{duenioController.prepareView}" value="#{bundle.ListDuenioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{duenioController.prepareEdit}" value="#{bundle.ListDuenioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{duenioController.destroy}" value="#{bundle.ListDuenioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{duenioController.prepareCreate}" value="#{bundle.ListDuenioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDuenioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
