<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDuenioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDuenioLabel_pkDuenio}"/>
                    <h:outputText value="#{duenioController.selected.pkDuenio}" title="#{bundle.ViewDuenioTitle_pkDuenio}"/>
                    <h:outputText value="#{bundle.ViewDuenioLabel_fkUsuario}"/>
                    <h:outputText value="#{duenioController.selected.fkUsuario}" title="#{bundle.ViewDuenioTitle_fkUsuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{duenioController.destroyAndView}" value="#{bundle.ViewDuenioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDuenioEditLink}"/>
                <br />
                <h:commandLink action="#{duenioController.prepareCreate}" value="#{bundle.ViewDuenioCreateLink}" />
                <br />
                <h:commandLink action="#{duenioController.prepareList}" value="#{bundle.ViewDuenioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDuenioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
