<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstadispoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstadispoLabel_pkEstadispo}" for="pkEstadispo" />
                    <h:inputText id="pkEstadispo" value="#{estadispoController.selected.pkEstadispo}" title="#{bundle.EditEstadispoTitle_pkEstadispo}" required="true" requiredMessage="#{bundle.EditEstadispoRequiredMessage_pkEstadispo}"/>
                    <h:outputLabel value="#{bundle.EditEstadispoLabel_fkDisponibilidad}" for="fkDisponibilidad" />
                    <h:selectOneMenu id="fkDisponibilidad" value="#{estadispoController.selected.fkDisponibilidad}" title="#{bundle.EditEstadispoTitle_fkDisponibilidad}" required="true" requiredMessage="#{bundle.EditEstadispoRequiredMessage_fkDisponibilidad}">
                        <f:selectItems value="#{disponibilidadController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEstadispoLabel_fkEstablec}" for="fkEstablec" />
                    <h:selectOneMenu id="fkEstablec" value="#{estadispoController.selected.fkEstablec}" title="#{bundle.EditEstadispoTitle_fkEstablec}" required="true" requiredMessage="#{bundle.EditEstadispoRequiredMessage_fkEstablec}">
                        <f:selectItems value="#{establecimientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{estadispoController.update}" value="#{bundle.EditEstadispoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstadispoViewLink}"/>
                <br />
                <h:commandLink action="#{estadispoController.prepareList}" value="#{bundle.EditEstadispoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstadispoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
