<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstadispoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstadispoEmpty}" rendered="#{estadispoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estadispoController.items.rowCount > 0}">
                    <h:outputText value="#{estadispoController.pagination.pageFirstItem + 1}..#{estadispoController.pagination.pageLastItem + 1}/#{estadispoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estadispoController.previous}" value="#{bundle.Previous} #{estadispoController.pagination.pageSize}" rendered="#{estadispoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estadispoController.next}" value="#{bundle.Next} #{estadispoController.pagination.pageSize}" rendered="#{estadispoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estadispoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadispoTitle_pkEstadispo}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstadispo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadispoTitle_fkDisponibilidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkDisponibilidad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadispoTitle_fkEstablec}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEstablec}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estadispoController.prepareView}" value="#{bundle.ListEstadispoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadispoController.prepareEdit}" value="#{bundle.ListEstadispoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadispoController.destroy}" value="#{bundle.ListEstadispoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estadispoController.prepareCreate}" value="#{bundle.ListEstadispoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstadispoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
