<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstadispoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstadispoLabel_pkEstadispo}"/>
                    <h:outputText value="#{estadispoController.selected.pkEstadispo}" title="#{bundle.ViewEstadispoTitle_pkEstadispo}"/>
                    <h:outputText value="#{bundle.ViewEstadispoLabel_fkDisponibilidad}"/>
                    <h:outputText value="#{estadispoController.selected.fkDisponibilidad}" title="#{bundle.ViewEstadispoTitle_fkDisponibilidad}"/>
                    <h:outputText value="#{bundle.ViewEstadispoLabel_fkEstablec}"/>
                    <h:outputText value="#{estadispoController.selected.fkEstablec}" title="#{bundle.ViewEstadispoTitle_fkEstablec}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadispoController.destroyAndView}" value="#{bundle.ViewEstadispoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstadispoEditLink}"/>
                <br />
                <h:commandLink action="#{estadispoController.prepareCreate}" value="#{bundle.ViewEstadispoCreateLink}" />
                <br />
                <h:commandLink action="#{estadispoController.prepareList}" value="#{bundle.ViewEstadispoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstadispoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
