<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstadocivilTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstadocivilLabel_pkEstadocivil}" for="pkEstadocivil" />
                    <h:inputText id="pkEstadocivil" value="#{estadocivilController.selected.pkEstadocivil}" title="#{bundle.EditEstadocivilTitle_pkEstadocivil}" required="true" requiredMessage="#{bundle.EditEstadocivilRequiredMessage_pkEstadocivil}"/>
                    <h:outputLabel value="#{bundle.EditEstadocivilLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{estadocivilController.selected.codigo}" title="#{bundle.EditEstadocivilTitle_codigo}" required="true" requiredMessage="#{bundle.EditEstadocivilRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditEstadocivilLabel_decripcion}" for="decripcion" />
                    <h:inputText id="decripcion" value="#{estadocivilController.selected.decripcion}" title="#{bundle.EditEstadocivilTitle_decripcion}" />
                </h:panelGrid>
                <h:commandLink action="#{estadocivilController.update}" value="#{bundle.EditEstadocivilSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstadocivilViewLink}"/>
                <br />
                <h:commandLink action="#{estadocivilController.prepareList}" value="#{bundle.EditEstadocivilShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstadocivilIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
