<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstadocivilTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstadocivilEmpty}" rendered="#{estadocivilController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estadocivilController.items.rowCount > 0}">
                    <h:outputText value="#{estadocivilController.pagination.pageFirstItem + 1}..#{estadocivilController.pagination.pageLastItem + 1}/#{estadocivilController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estadocivilController.previous}" value="#{bundle.Previous} #{estadocivilController.pagination.pageSize}" rendered="#{estadocivilController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estadocivilController.next}" value="#{bundle.Next} #{estadocivilController.pagination.pageSize}" rendered="#{estadocivilController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estadocivilController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadocivilTitle_pkEstadocivil}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstadocivil}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadocivilTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstadocivilTitle_decripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.decripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estadocivilController.prepareView}" value="#{bundle.ListEstadocivilViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadocivilController.prepareEdit}" value="#{bundle.ListEstadocivilEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estadocivilController.destroy}" value="#{bundle.ListEstadocivilDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estadocivilController.prepareCreate}" value="#{bundle.ListEstadocivilCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstadocivilIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
