<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstadocivilTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstadocivilLabel_pkEstadocivil}"/>
                    <h:outputText value="#{estadocivilController.selected.pkEstadocivil}" title="#{bundle.ViewEstadocivilTitle_pkEstadocivil}"/>
                    <h:outputText value="#{bundle.ViewEstadocivilLabel_codigo}"/>
                    <h:outputText value="#{estadocivilController.selected.codigo}" title="#{bundle.ViewEstadocivilTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewEstadocivilLabel_decripcion}"/>
                    <h:outputText value="#{estadocivilController.selected.decripcion}" title="#{bundle.ViewEstadocivilTitle_decripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estadocivilController.destroyAndView}" value="#{bundle.ViewEstadocivilDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstadocivilEditLink}"/>
                <br />
                <h:commandLink action="#{estadocivilController.prepareCreate}" value="#{bundle.ViewEstadocivilCreateLink}" />
                <br />
                <h:commandLink action="#{estadocivilController.prepareList}" value="#{bundle.ViewEstadocivilShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstadocivilIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
