<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTipotelefonoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTipotelefonoLabel_pkTiptelefono}" for="pkTiptelefono" />
                    <h:inputText id="pkTiptelefono" value="#{tipotelefonoController.selected.pkTiptelefono}" title="#{bundle.CreateTipotelefonoTitle_pkTiptelefono}" required="true" requiredMessage="#{bundle.CreateTipotelefonoRequiredMessage_pkTiptelefono}"/>
                    <h:outputLabel value="#{bundle.CreateTipotelefonoLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{tipotelefonoController.selected.codigo}" title="#{bundle.CreateTipotelefonoTitle_codigo}" required="true" requiredMessage="#{bundle.CreateTipotelefonoRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateTipotelefonoLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipotelefonoController.selected.descripcion}" title="#{bundle.CreateTipotelefonoTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateTipotelefonoRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipotelefonoController.create}" value="#{bundle.CreateTipotelefonoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tipotelefonoController.prepareList}" value="#{bundle.CreateTipotelefonoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTipotelefonoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
