<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipotelefonoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipotelefonoLabel_pkTiptelefono}"/>
                    <h:outputText value="#{tipotelefonoController.selected.pkTiptelefono}" title="#{bundle.ViewTipotelefonoTitle_pkTiptelefono}"/>
                    <h:outputText value="#{bundle.ViewTipotelefonoLabel_codigo}"/>
                    <h:outputText value="#{tipotelefonoController.selected.codigo}" title="#{bundle.ViewTipotelefonoTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewTipotelefonoLabel_descripcion}"/>
                    <h:outputText value="#{tipotelefonoController.selected.descripcion}" title="#{bundle.ViewTipotelefonoTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipotelefonoController.destroyAndView}" value="#{bundle.ViewTipotelefonoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipotelefonoEditLink}"/>
                <br />
                <h:commandLink action="#{tipotelefonoController.prepareCreate}" value="#{bundle.ViewTipotelefonoCreateLink}" />
                <br />
                <h:commandLink action="#{tipotelefonoController.prepareList}" value="#{bundle.ViewTipotelefonoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipotelefonoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
