<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateArtistaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_pkArtista}" for="pkArtista" />
                    <h:inputText id="pkArtista" value="#{artistaController.selected.pkArtista}" title="#{bundle.CreateArtistaTitle_pkArtista}" required="true" requiredMessage="#{bundle.CreateArtistaRequiredMessage_pkArtista}"/>
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_apodo}" for="apodo" />
                    <h:inputText id="apodo" value="#{artistaController.selected.apodo}" title="#{bundle.CreateArtistaTitle_apodo}" required="true" requiredMessage="#{bundle.CreateArtistaRequiredMessage_apodo}"/>
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_generomusical}" for="generomusical" />
                    <h:inputText id="generomusical" value="#{artistaController.selected.generomusical}" title="#{bundle.CreateArtistaTitle_generomusical}" required="true" requiredMessage="#{bundle.CreateArtistaRequiredMessage_generomusical}"/>
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_experiencia}" for="experiencia" />
                    <h:inputText id="experiencia" value="#{artistaController.selected.experiencia}" title="#{bundle.CreateArtistaTitle_experiencia}" required="true" requiredMessage="#{bundle.CreateArtistaRequiredMessage_experiencia}"/>
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_fkTipartis}" for="fkTipartis" />
                    <h:selectOneMenu id="fkTipartis" value="#{artistaController.selected.fkTipartis}" title="#{bundle.CreateArtistaTitle_fkTipartis}" >
                        <f:selectItems value="#{tipoartistaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateArtistaLabel_fkUsuario}" for="fkUsuario" />
                    <h:selectOneMenu id="fkUsuario" value="#{artistaController.selected.fkUsuario}" title="#{bundle.CreateArtistaTitle_fkUsuario}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{artistaController.create}" value="#{bundle.CreateArtistaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{artistaController.prepareList}" value="#{bundle.CreateArtistaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateArtistaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
