<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListArtistaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListArtistaEmpty}" rendered="#{artistaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{artistaController.items.rowCount > 0}">
                    <h:outputText value="#{artistaController.pagination.pageFirstItem + 1}..#{artistaController.pagination.pageLastItem + 1}/#{artistaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{artistaController.previous}" value="#{bundle.Previous} #{artistaController.pagination.pageSize}" rendered="#{artistaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{artistaController.next}" value="#{bundle.Next} #{artistaController.pagination.pageSize}" rendered="#{artistaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{artistaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_pkArtista}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkArtista}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_apodo}"/>
                            </f:facet>
                            <h:outputText value="#{item.apodo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_generomusical}"/>
                            </f:facet>
                            <h:outputText value="#{item.generomusical}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_experiencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.experiencia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_fkTipartis}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkTipartis}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListArtistaTitle_fkUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{artistaController.prepareView}" value="#{bundle.ListArtistaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{artistaController.prepareEdit}" value="#{bundle.ListArtistaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{artistaController.destroy}" value="#{bundle.ListArtistaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{artistaController.prepareCreate}" value="#{bundle.ListArtistaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListArtistaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
