<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewParticipaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewParticipaLabel_pkParticipa}"/>
                    <h:outputText value="#{participaController.selected.pkParticipa}" title="#{bundle.ViewParticipaTitle_pkParticipa}"/>
                    <h:outputText value="#{bundle.ViewParticipaLabel_fkArtista}"/>
                    <h:outputText value="#{participaController.selected.fkArtista}" title="#{bundle.ViewParticipaTitle_fkArtista}"/>
                    <h:outputText value="#{bundle.ViewParticipaLabel_fkCronogra}"/>
                    <h:outputText value="#{participaController.selected.fkCronogra}" title="#{bundle.ViewParticipaTitle_fkCronogra}"/>
                    <h:outputText value="#{bundle.ViewParticipaLabel_fkEvento}"/>
                    <h:outputText value="#{participaController.selected.fkEvento}" title="#{bundle.ViewParticipaTitle_fkEvento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{participaController.destroyAndView}" value="#{bundle.ViewParticipaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewParticipaEditLink}"/>
                <br />
                <h:commandLink action="#{participaController.prepareCreate}" value="#{bundle.ViewParticipaCreateLink}" />
                <br />
                <h:commandLink action="#{participaController.prepareList}" value="#{bundle.ViewParticipaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewParticipaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
