<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAccperusuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAccperusuLabel_pkAcciperusu}" for="pkAcciperusu" />
                    <h:inputText id="pkAcciperusu" value="#{accperusuController.selected.pkAcciperusu}" title="#{bundle.CreateAccperusuTitle_pkAcciperusu}" required="true" requiredMessage="#{bundle.CreateAccperusuRequiredMessage_pkAcciperusu}"/>
                    <h:outputLabel value="#{bundle.CreateAccperusuLabel_fkAccipermitida}" for="fkAccipermitida" />
                    <h:selectOneMenu id="fkAccipermitida" value="#{accperusuController.selected.fkAccipermitida}" title="#{bundle.CreateAccperusuTitle_fkAccipermitida}" required="true" requiredMessage="#{bundle.CreateAccperusuRequiredMessage_fkAccipermitida}">
                        <f:selectItems value="#{accionpermitidaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAccperusuLabel_fkUsuario}" for="fkUsuario" />
                    <h:selectOneMenu id="fkUsuario" value="#{accperusuController.selected.fkUsuario}" title="#{bundle.CreateAccperusuTitle_fkUsuario}" required="true" requiredMessage="#{bundle.CreateAccperusuRequiredMessage_fkUsuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accperusuController.create}" value="#{bundle.CreateAccperusuSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{accperusuController.prepareList}" value="#{bundle.CreateAccperusuShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAccperusuIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
