<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAccperusuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAccperusuEmpty}" rendered="#{accperusuController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{accperusuController.items.rowCount > 0}">
                    <h:outputText value="#{accperusuController.pagination.pageFirstItem + 1}..#{accperusuController.pagination.pageLastItem + 1}/#{accperusuController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{accperusuController.previous}" value="#{bundle.Previous} #{accperusuController.pagination.pageSize}" rendered="#{accperusuController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{accperusuController.next}" value="#{bundle.Next} #{accperusuController.pagination.pageSize}" rendered="#{accperusuController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{accperusuController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperusuTitle_pkAcciperusu}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAcciperusu}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperusuTitle_fkAccipermitida}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkAccipermitida}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperusuTitle_fkUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{accperusuController.prepareView}" value="#{bundle.ListAccperusuViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accperusuController.prepareEdit}" value="#{bundle.ListAccperusuEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accperusuController.destroy}" value="#{bundle.ListAccperusuDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{accperusuController.prepareCreate}" value="#{bundle.ListAccperusuCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAccperusuIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
