<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAccperusuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAccperusuLabel_pkAcciperusu}"/>
                    <h:outputText value="#{accperusuController.selected.pkAcciperusu}" title="#{bundle.ViewAccperusuTitle_pkAcciperusu}"/>
                    <h:outputText value="#{bundle.ViewAccperusuLabel_fkAccipermitida}"/>
                    <h:outputText value="#{accperusuController.selected.fkAccipermitida}" title="#{bundle.ViewAccperusuTitle_fkAccipermitida}"/>
                    <h:outputText value="#{bundle.ViewAccperusuLabel_fkUsuario}"/>
                    <h:outputText value="#{accperusuController.selected.fkUsuario}" title="#{bundle.ViewAccperusuTitle_fkUsuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accperusuController.destroyAndView}" value="#{bundle.ViewAccperusuDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAccperusuEditLink}"/>
                <br />
                <h:commandLink action="#{accperusuController.prepareCreate}" value="#{bundle.ViewAccperusuCreateLink}" />
                <br />
                <h:commandLink action="#{accperusuController.prepareList}" value="#{bundle.ViewAccperusuShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAccperusuIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
