<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_pkUsuario}" for="pkUsuario" />
                    <h:inputText id="pkUsuario" value="#{usuarioController.selected.pkUsuario}" title="#{bundle.EditUsuarioTitle_pkUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_pkUsuario}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_nombreusuario}" for="nombreusuario" />
                    <h:inputText id="nombreusuario" value="#{usuarioController.selected.nombreusuario}" title="#{bundle.EditUsuarioTitle_nombreusuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombreusuario}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_contrasenia}" for="contrasenia" />
                    <h:inputText id="contrasenia" value="#{usuarioController.selected.contrasenia}" title="#{bundle.EditUsuarioTitle_contrasenia}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_contrasenia}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_fkPersona}" for="fkPersona" />
                    <h:selectOneMenu id="fkPersona" value="#{usuarioController.selected.fkPersona}" title="#{bundle.EditUsuarioTitle_fkPersona}" >
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usuarioController.update}" value="#{bundle.EditUsuarioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuarioViewLink}"/>
                <br />
                <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.EditUsuarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuarioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
