<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTelefonoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTelefonoLabel_pkTelefono}" for="pkTelefono" />
                    <h:inputText id="pkTelefono" value="#{telefonoController.selected.pkTelefono}" title="#{bundle.EditTelefonoTitle_pkTelefono}" required="true" requiredMessage="#{bundle.EditTelefonoRequiredMessage_pkTelefono}"/>
                    <h:outputLabel value="#{bundle.EditTelefonoLabel_numero}" for="numero" />
                    <h:inputText id="numero" value="#{telefonoController.selected.numero}" title="#{bundle.EditTelefonoTitle_numero}" required="true" requiredMessage="#{bundle.EditTelefonoRequiredMessage_numero}"/>
                    <h:outputLabel value="#{bundle.EditTelefonoLabel_fkPersona}" for="fkPersona" />
                    <h:selectOneMenu id="fkPersona" value="#{telefonoController.selected.fkPersona}" title="#{bundle.EditTelefonoTitle_fkPersona}" >
                        <f:selectItems value="#{personaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTelefonoLabel_fkTiptelefono}" for="fkTiptelefono" />
                    <h:selectOneMenu id="fkTiptelefono" value="#{telefonoController.selected.fkTiptelefono}" title="#{bundle.EditTelefonoTitle_fkTiptelefono}" required="true" requiredMessage="#{bundle.EditTelefonoRequiredMessage_fkTiptelefono}">
                        <f:selectItems value="#{tipotelefonoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{telefonoController.update}" value="#{bundle.EditTelefonoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTelefonoViewLink}"/>
                <br />
                <h:commandLink action="#{telefonoController.prepareList}" value="#{bundle.EditTelefonoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTelefonoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
