<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTelefonoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTelefonoEmpty}" rendered="#{telefonoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{telefonoController.items.rowCount > 0}">
                    <h:outputText value="#{telefonoController.pagination.pageFirstItem + 1}..#{telefonoController.pagination.pageLastItem + 1}/#{telefonoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{telefonoController.previous}" value="#{bundle.Previous} #{telefonoController.pagination.pageSize}" rendered="#{telefonoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{telefonoController.next}" value="#{bundle.Next} #{telefonoController.pagination.pageSize}" rendered="#{telefonoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{telefonoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTelefonoTitle_pkTelefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkTelefono}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTelefonoTitle_numero}"/>
                            </f:facet>
                            <h:outputText value="#{item.numero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTelefonoTitle_fkPersona}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPersona}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTelefonoTitle_fkTiptelefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkTiptelefono}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{telefonoController.prepareView}" value="#{bundle.ListTelefonoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{telefonoController.prepareEdit}" value="#{bundle.ListTelefonoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{telefonoController.destroy}" value="#{bundle.ListTelefonoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{telefonoController.prepareCreate}" value="#{bundle.ListTelefonoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTelefonoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
