<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTelefonoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTelefonoLabel_pkTelefono}"/>
                    <h:outputText value="#{telefonoController.selected.pkTelefono}" title="#{bundle.ViewTelefonoTitle_pkTelefono}"/>
                    <h:outputText value="#{bundle.ViewTelefonoLabel_numero}"/>
                    <h:outputText value="#{telefonoController.selected.numero}" title="#{bundle.ViewTelefonoTitle_numero}"/>
                    <h:outputText value="#{bundle.ViewTelefonoLabel_fkPersona}"/>
                    <h:outputText value="#{telefonoController.selected.fkPersona}" title="#{bundle.ViewTelefonoTitle_fkPersona}"/>
                    <h:outputText value="#{bundle.ViewTelefonoLabel_fkTiptelefono}"/>
                    <h:outputText value="#{telefonoController.selected.fkTiptelefono}" title="#{bundle.ViewTelefonoTitle_fkTiptelefono}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{telefonoController.destroyAndView}" value="#{bundle.ViewTelefonoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTelefonoEditLink}"/>
                <br />
                <h:commandLink action="#{telefonoController.prepareCreate}" value="#{bundle.ViewTelefonoCreateLink}" />
                <br />
                <h:commandLink action="#{telefonoController.prepareList}" value="#{bundle.ViewTelefonoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTelefonoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
