<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTipoeventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTipoeventoLabel_pkTipoevento}" for="pkTipoevento" />
                    <h:inputText id="pkTipoevento" value="#{tipoeventoController.selected.pkTipoevento}" title="#{bundle.EditTipoeventoTitle_pkTipoevento}" required="true" requiredMessage="#{bundle.EditTipoeventoRequiredMessage_pkTipoevento}"/>
                    <h:outputLabel value="#{bundle.EditTipoeventoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tipoeventoController.selected.nombre}" title="#{bundle.EditTipoeventoTitle_nombre}" required="true" requiredMessage="#{bundle.EditTipoeventoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditTipoeventoLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{tipoeventoController.selected.descripcion}" title="#{bundle.EditTipoeventoTitle_descripcion}" required="true" requiredMessage="#{bundle.EditTipoeventoRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{tipoeventoController.update}" value="#{bundle.EditTipoeventoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTipoeventoViewLink}"/>
                <br />
                <h:commandLink action="#{tipoeventoController.prepareList}" value="#{bundle.EditTipoeventoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTipoeventoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
