<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateReservaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateReservaLabel_pkReserva}" for="pkReserva" />
                    <h:inputText id="pkReserva" value="#{reservaController.selected.pkReserva}" title="#{bundle.CreateReservaTitle_pkReserva}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_pkReserva}"/>
                    <h:outputLabel value="#{bundle.CreateReservaLabel_hora}" for="hora" />
                    <h:inputText id="hora" value="#{reservaController.selected.hora}" title="#{bundle.CreateReservaTitle_hora}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_hora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateReservaLabel_canpersonas}" for="canpersonas" />
                    <h:inputText id="canpersonas" value="#{reservaController.selected.canpersonas}" title="#{bundle.CreateReservaTitle_canpersonas}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_canpersonas}"/>
                    <h:outputLabel value="#{bundle.CreateReservaLabel_fkCliente}" for="fkCliente" />
                    <h:selectOneMenu id="fkCliente" value="#{reservaController.selected.fkCliente}" title="#{bundle.CreateReservaTitle_fkCliente}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_fkCliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateReservaLabel_fkEvento}" for="fkEvento" />
                    <h:selectOneMenu id="fkEvento" value="#{reservaController.selected.fkEvento}" title="#{bundle.CreateReservaTitle_fkEvento}" required="true" requiredMessage="#{bundle.CreateReservaRequiredMessage_fkEvento}">
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reservaController.create}" value="#{bundle.CreateReservaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{reservaController.prepareList}" value="#{bundle.CreateReservaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateReservaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
