<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditReservaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditReservaLabel_pkReserva}" for="pkReserva" />
                    <h:inputText id="pkReserva" value="#{reservaController.selected.pkReserva}" title="#{bundle.EditReservaTitle_pkReserva}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_pkReserva}"/>
                    <h:outputLabel value="#{bundle.EditReservaLabel_hora}" for="hora" />
                    <h:inputText id="hora" value="#{reservaController.selected.hora}" title="#{bundle.EditReservaTitle_hora}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_hora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditReservaLabel_canpersonas}" for="canpersonas" />
                    <h:inputText id="canpersonas" value="#{reservaController.selected.canpersonas}" title="#{bundle.EditReservaTitle_canpersonas}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_canpersonas}"/>
                    <h:outputLabel value="#{bundle.EditReservaLabel_fkCliente}" for="fkCliente" />
                    <h:selectOneMenu id="fkCliente" value="#{reservaController.selected.fkCliente}" title="#{bundle.EditReservaTitle_fkCliente}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_fkCliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditReservaLabel_fkEvento}" for="fkEvento" />
                    <h:selectOneMenu id="fkEvento" value="#{reservaController.selected.fkEvento}" title="#{bundle.EditReservaTitle_fkEvento}" required="true" requiredMessage="#{bundle.EditReservaRequiredMessage_fkEvento}">
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{reservaController.update}" value="#{bundle.EditReservaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditReservaViewLink}"/>
                <br />
                <h:commandLink action="#{reservaController.prepareList}" value="#{bundle.EditReservaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditReservaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
