<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewReservaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewReservaLabel_pkReserva}"/>
                    <h:outputText value="#{reservaController.selected.pkReserva}" title="#{bundle.ViewReservaTitle_pkReserva}"/>
                    <h:outputText value="#{bundle.ViewReservaLabel_hora}"/>
                    <h:outputText value="#{reservaController.selected.hora}" title="#{bundle.ViewReservaTitle_hora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewReservaLabel_canpersonas}"/>
                    <h:outputText value="#{reservaController.selected.canpersonas}" title="#{bundle.ViewReservaTitle_canpersonas}"/>
                    <h:outputText value="#{bundle.ViewReservaLabel_fkCliente}"/>
                    <h:outputText value="#{reservaController.selected.fkCliente}" title="#{bundle.ViewReservaTitle_fkCliente}"/>
                    <h:outputText value="#{bundle.ViewReservaLabel_fkEvento}"/>
                    <h:outputText value="#{reservaController.selected.fkEvento}" title="#{bundle.ViewReservaTitle_fkEvento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reservaController.destroyAndView}" value="#{bundle.ViewReservaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewReservaEditLink}"/>
                <br />
                <h:commandLink action="#{reservaController.prepareCreate}" value="#{bundle.ViewReservaCreateLink}" />
                <br />
                <h:commandLink action="#{reservaController.prepareList}" value="#{bundle.ViewReservaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewReservaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
