<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEventoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEventoLabel_pkEvento}" for="pkEvento" />
                    <h:inputText id="pkEvento" value="#{eventoController.selected.pkEvento}" title="#{bundle.EditEventoTitle_pkEvento}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_pkEvento}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{eventoController.selected.fecha}" title="#{bundle.EditEventoTitle_fecha}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditEventoLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{eventoController.selected.descripcion}" title="#{bundle.EditEventoTitle_descripcion}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_capacidad}" for="capacidad" />
                    <h:inputText id="capacidad" value="#{eventoController.selected.capacidad}" title="#{bundle.EditEventoTitle_capacidad}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_capacidad}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{eventoController.selected.precio}" title="#{bundle.EditEventoTitle_precio}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.EditEventoLabel_fkEstablec}" for="fkEstablec" />
                    <h:selectOneMenu id="fkEstablec" value="#{eventoController.selected.fkEstablec}" title="#{bundle.EditEventoTitle_fkEstablec}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fkEstablec}">
                        <f:selectItems value="#{establecimientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEventoLabel_fkTipoevento}" for="fkTipoevento" />
                    <h:selectOneMenu id="fkTipoevento" value="#{eventoController.selected.fkTipoevento}" title="#{bundle.EditEventoTitle_fkTipoevento}" required="true" requiredMessage="#{bundle.EditEventoRequiredMessage_fkTipoevento}">
                        <f:selectItems value="#{tipoeventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{eventoController.update}" value="#{bundle.EditEventoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEventoViewLink}"/>
                <br />
                <h:commandLink action="#{eventoController.prepareList}" value="#{bundle.EditEventoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEventoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
