<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTipogeneroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTipogeneroLabel_pkTipogenero}" for="pkTipogenero" />
                    <h:inputText id="pkTipogenero" value="#{tipogeneroController.selected.pkTipogenero}" title="#{bundle.CreateTipogeneroTitle_pkTipogenero}" required="true" requiredMessage="#{bundle.CreateTipogeneroRequiredMessage_pkTipogenero}"/>
                    <h:outputLabel value="#{bundle.CreateTipogeneroLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tipogeneroController.selected.nombre}" title="#{bundle.CreateTipogeneroTitle_nombre}" required="true" requiredMessage="#{bundle.CreateTipogeneroRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateTipogeneroLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipogeneroController.selected.descripcion}" title="#{bundle.CreateTipogeneroTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateTipogeneroRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipogeneroController.create}" value="#{bundle.CreateTipogeneroSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tipogeneroController.prepareList}" value="#{bundle.CreateTipogeneroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTipogeneroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
