<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipogeneroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipogeneroLabel_pkTipogenero}"/>
                    <h:outputText value="#{tipogeneroController.selected.pkTipogenero}" title="#{bundle.ViewTipogeneroTitle_pkTipogenero}"/>
                    <h:outputText value="#{bundle.ViewTipogeneroLabel_nombre}"/>
                    <h:outputText value="#{tipogeneroController.selected.nombre}" title="#{bundle.ViewTipogeneroTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewTipogeneroLabel_descripcion}"/>
                    <h:outputText value="#{tipogeneroController.selected.descripcion}" title="#{bundle.ViewTipogeneroTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipogeneroController.destroyAndView}" value="#{bundle.ViewTipogeneroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipogeneroEditLink}"/>
                <br />
                <h:commandLink action="#{tipogeneroController.prepareCreate}" value="#{bundle.ViewTipogeneroCreateLink}" />
                <br />
                <h:commandLink action="#{tipogeneroController.prepareList}" value="#{bundle.ViewTipogeneroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipogeneroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
