<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDepartamentoLabel_pkDepartamen}" for="pkDepartamen" />
                    <h:inputText id="pkDepartamen" value="#{departamentoController.selected.pkDepartamen}" title="#{bundle.EditDepartamentoTitle_pkDepartamen}" required="true" requiredMessage="#{bundle.EditDepartamentoRequiredMessage_pkDepartamen}"/>
                    <h:outputLabel value="#{bundle.EditDepartamentoLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{departamentoController.selected.codigo}" title="#{bundle.EditDepartamentoTitle_codigo}" required="true" requiredMessage="#{bundle.EditDepartamentoRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditDepartamentoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{departamentoController.selected.nombre}" title="#{bundle.EditDepartamentoTitle_nombre}" required="true" requiredMessage="#{bundle.EditDepartamentoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditDepartamentoLabel_fkPais}" for="fkPais" />
                    <h:selectOneMenu id="fkPais" value="#{departamentoController.selected.fkPais}" title="#{bundle.EditDepartamentoTitle_fkPais}" required="true" requiredMessage="#{bundle.EditDepartamentoRequiredMessage_fkPais}">
                        <f:selectItems value="#{paisController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{departamentoController.update}" value="#{bundle.EditDepartamentoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDepartamentoViewLink}"/>
                <br />
                <h:commandLink action="#{departamentoController.prepareList}" value="#{bundle.EditDepartamentoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDepartamentoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
