<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDepartamentoEmpty}" rendered="#{departamentoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{departamentoController.items.rowCount > 0}">
                    <h:outputText value="#{departamentoController.pagination.pageFirstItem + 1}..#{departamentoController.pagination.pageLastItem + 1}/#{departamentoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{departamentoController.previous}" value="#{bundle.Previous} #{departamentoController.pagination.pageSize}" rendered="#{departamentoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{departamentoController.next}" value="#{bundle.Next} #{departamentoController.pagination.pageSize}" rendered="#{departamentoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{departamentoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepartamentoTitle_pkDepartamen}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkDepartamen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepartamentoTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepartamentoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepartamentoTitle_fkPais}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{departamentoController.prepareView}" value="#{bundle.ListDepartamentoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{departamentoController.prepareEdit}" value="#{bundle.ListDepartamentoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{departamentoController.destroy}" value="#{bundle.ListDepartamentoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{departamentoController.prepareCreate}" value="#{bundle.ListDepartamentoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDepartamentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
