<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDepartamentoLabel_pkDepartamen}"/>
                    <h:outputText value="#{departamentoController.selected.pkDepartamen}" title="#{bundle.ViewDepartamentoTitle_pkDepartamen}"/>
                    <h:outputText value="#{bundle.ViewDepartamentoLabel_codigo}"/>
                    <h:outputText value="#{departamentoController.selected.codigo}" title="#{bundle.ViewDepartamentoTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewDepartamentoLabel_nombre}"/>
                    <h:outputText value="#{departamentoController.selected.nombre}" title="#{bundle.ViewDepartamentoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewDepartamentoLabel_fkPais}"/>
                    <h:outputText value="#{departamentoController.selected.fkPais}" title="#{bundle.ViewDepartamentoTitle_fkPais}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{departamentoController.destroyAndView}" value="#{bundle.ViewDepartamentoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDepartamentoEditLink}"/>
                <br />
                <h:commandLink action="#{departamentoController.prepareCreate}" value="#{bundle.ViewDepartamentoCreateLink}" />
                <br />
                <h:commandLink action="#{departamentoController.prepareList}" value="#{bundle.ViewDepartamentoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDepartamentoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
