<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAsisteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAsisteLabel_pkAsiste}" for="pkAsiste" />
                    <h:inputText id="pkAsiste" value="#{asisteController.selected.pkAsiste}" title="#{bundle.EditAsisteTitle_pkAsiste}" required="true" requiredMessage="#{bundle.EditAsisteRequiredMessage_pkAsiste}"/>
                    <h:outputLabel value="#{bundle.EditAsisteLabel_fkCliente}" for="fkCliente" />
                    <h:selectOneMenu id="fkCliente" value="#{asisteController.selected.fkCliente}" title="#{bundle.EditAsisteTitle_fkCliente}" required="true" requiredMessage="#{bundle.EditAsisteRequiredMessage_fkCliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAsisteLabel_fkEvento}" for="fkEvento" />
                    <h:selectOneMenu id="fkEvento" value="#{asisteController.selected.fkEvento}" title="#{bundle.EditAsisteTitle_fkEvento}" required="true" requiredMessage="#{bundle.EditAsisteRequiredMessage_fkEvento}">
                        <f:selectItems value="#{eventoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{asisteController.update}" value="#{bundle.EditAsisteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAsisteViewLink}"/>
                <br />
                <h:commandLink action="#{asisteController.prepareList}" value="#{bundle.EditAsisteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAsisteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
