<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAsisteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAsisteEmpty}" rendered="#{asisteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{asisteController.items.rowCount > 0}">
                    <h:outputText value="#{asisteController.pagination.pageFirstItem + 1}..#{asisteController.pagination.pageLastItem + 1}/#{asisteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{asisteController.previous}" value="#{bundle.Previous} #{asisteController.pagination.pageSize}" rendered="#{asisteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{asisteController.next}" value="#{bundle.Next} #{asisteController.pagination.pageSize}" rendered="#{asisteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{asisteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsisteTitle_pkAsiste}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAsiste}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsisteTitle_fkCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkCliente}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsisteTitle_fkEvento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEvento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{asisteController.prepareView}" value="#{bundle.ListAsisteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{asisteController.prepareEdit}" value="#{bundle.ListAsisteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{asisteController.destroy}" value="#{bundle.ListAsisteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{asisteController.prepareCreate}" value="#{bundle.ListAsisteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAsisteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
