<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAsisteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAsisteLabel_pkAsiste}"/>
                    <h:outputText value="#{asisteController.selected.pkAsiste}" title="#{bundle.ViewAsisteTitle_pkAsiste}"/>
                    <h:outputText value="#{bundle.ViewAsisteLabel_fkCliente}"/>
                    <h:outputText value="#{asisteController.selected.fkCliente}" title="#{bundle.ViewAsisteTitle_fkCliente}"/>
                    <h:outputText value="#{bundle.ViewAsisteLabel_fkEvento}"/>
                    <h:outputText value="#{asisteController.selected.fkEvento}" title="#{bundle.ViewAsisteTitle_fkEvento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{asisteController.destroyAndView}" value="#{bundle.ViewAsisteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAsisteEditLink}"/>
                <br />
                <h:commandLink action="#{asisteController.prepareCreate}" value="#{bundle.ViewAsisteCreateLink}" />
                <br />
                <h:commandLink action="#{asisteController.prepareList}" value="#{bundle.ViewAsisteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAsisteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
