<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClienteLabel_pkCliente}" for="pkCliente" />
                    <h:inputText id="pkCliente" value="#{clienteController.selected.pkCliente}" title="#{bundle.EditClienteTitle_pkCliente}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_pkCliente}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_fkUsuario}" for="fkUsuario" />
                    <h:selectOneMenu id="fkUsuario" value="#{clienteController.selected.fkUsuario}" title="#{bundle.EditClienteTitle_fkUsuario}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_fkUsuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{clienteController.update}" value="#{bundle.EditClienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClienteViewLink}"/>
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.EditClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
