<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTipoartistaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTipoartistaLabel_pkTipartis}" for="pkTipartis" />
                    <h:inputText id="pkTipartis" value="#{tipoartistaController.selected.pkTipartis}" title="#{bundle.CreateTipoartistaTitle_pkTipartis}" required="true" requiredMessage="#{bundle.CreateTipoartistaRequiredMessage_pkTipartis}"/>
                    <h:outputLabel value="#{bundle.CreateTipoartistaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tipoartistaController.selected.nombre}" title="#{bundle.CreateTipoartistaTitle_nombre}" required="true" requiredMessage="#{bundle.CreateTipoartistaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateTipoartistaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipoartistaController.selected.descripcion}" title="#{bundle.CreateTipoartistaTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateTipoartistaRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoartistaController.create}" value="#{bundle.CreateTipoartistaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tipoartistaController.prepareList}" value="#{bundle.CreateTipoartistaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTipoartistaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
