<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTipoartistaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTipoartistaLabel_pkTipartis}" for="pkTipartis" />
                    <h:inputText id="pkTipartis" value="#{tipoartistaController.selected.pkTipartis}" title="#{bundle.EditTipoartistaTitle_pkTipartis}" required="true" requiredMessage="#{bundle.EditTipoartistaRequiredMessage_pkTipartis}"/>
                    <h:outputLabel value="#{bundle.EditTipoartistaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{tipoartistaController.selected.nombre}" title="#{bundle.EditTipoartistaTitle_nombre}" required="true" requiredMessage="#{bundle.EditTipoartistaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditTipoartistaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipoartistaController.selected.descripcion}" title="#{bundle.EditTipoartistaTitle_descripcion}" required="true" requiredMessage="#{bundle.EditTipoartistaRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{tipoartistaController.update}" value="#{bundle.EditTipoartistaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTipoartistaViewLink}"/>
                <br />
                <h:commandLink action="#{tipoartistaController.prepareList}" value="#{bundle.EditTipoartistaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTipoartistaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
