<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipoartistaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipoartistaLabel_pkTipartis}"/>
                    <h:outputText value="#{tipoartistaController.selected.pkTipartis}" title="#{bundle.ViewTipoartistaTitle_pkTipartis}"/>
                    <h:outputText value="#{bundle.ViewTipoartistaLabel_nombre}"/>
                    <h:outputText value="#{tipoartistaController.selected.nombre}" title="#{bundle.ViewTipoartistaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewTipoartistaLabel_descripcion}"/>
                    <h:outputText value="#{tipoartistaController.selected.descripcion}" title="#{bundle.ViewTipoartistaTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoartistaController.destroyAndView}" value="#{bundle.ViewTipoartistaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipoartistaEditLink}"/>
                <br />
                <h:commandLink action="#{tipoartistaController.prepareCreate}" value="#{bundle.ViewTipoartistaCreateLink}" />
                <br />
                <h:commandLink action="#{tipoartistaController.prepareList}" value="#{bundle.ViewTipoartistaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipoartistaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
