<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTipoidentificacionLabel_pkTipoidentifi}" for="pkTipoidentifi" />
                    <h:inputText id="pkTipoidentifi" value="#{tipoidentificacionController.selected.pkTipoidentifi}" title="#{bundle.CreateTipoidentificacionTitle_pkTipoidentifi}" required="true" requiredMessage="#{bundle.CreateTipoidentificacionRequiredMessage_pkTipoidentifi}"/>
                    <h:outputLabel value="#{bundle.CreateTipoidentificacionLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{tipoidentificacionController.selected.codigo}" title="#{bundle.CreateTipoidentificacionTitle_codigo}" required="true" requiredMessage="#{bundle.CreateTipoidentificacionRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateTipoidentificacionLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{tipoidentificacionController.selected.descripcion}" title="#{bundle.CreateTipoidentificacionTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateTipoidentificacionRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoidentificacionController.create}" value="#{bundle.CreateTipoidentificacionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tipoidentificacionController.prepareList}" value="#{bundle.CreateTipoidentificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTipoidentificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
