<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstatipgenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstatipgenLabel_pkEstatipgen}" for="pkEstatipgen" />
                    <h:inputText id="pkEstatipgen" value="#{estatipgenController.selected.pkEstatipgen}" title="#{bundle.CreateEstatipgenTitle_pkEstatipgen}" required="true" requiredMessage="#{bundle.CreateEstatipgenRequiredMessage_pkEstatipgen}"/>
                    <h:outputLabel value="#{bundle.CreateEstatipgenLabel_fkEstablec}" for="fkEstablec" />
                    <h:selectOneMenu id="fkEstablec" value="#{estatipgenController.selected.fkEstablec}" title="#{bundle.CreateEstatipgenTitle_fkEstablec}" required="true" requiredMessage="#{bundle.CreateEstatipgenRequiredMessage_fkEstablec}">
                        <f:selectItems value="#{establecimientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEstatipgenLabel_fkTipogenero}" for="fkTipogenero" />
                    <h:selectOneMenu id="fkTipogenero" value="#{estatipgenController.selected.fkTipogenero}" title="#{bundle.CreateEstatipgenTitle_fkTipogenero}" required="true" requiredMessage="#{bundle.CreateEstatipgenRequiredMessage_fkTipogenero}">
                        <f:selectItems value="#{tipogeneroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estatipgenController.create}" value="#{bundle.CreateEstatipgenSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estatipgenController.prepareList}" value="#{bundle.CreateEstatipgenShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstatipgenIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
