<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstatipgenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstatipgenEmpty}" rendered="#{estatipgenController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estatipgenController.items.rowCount > 0}">
                    <h:outputText value="#{estatipgenController.pagination.pageFirstItem + 1}..#{estatipgenController.pagination.pageLastItem + 1}/#{estatipgenController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estatipgenController.previous}" value="#{bundle.Previous} #{estatipgenController.pagination.pageSize}" rendered="#{estatipgenController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estatipgenController.next}" value="#{bundle.Next} #{estatipgenController.pagination.pageSize}" rendered="#{estatipgenController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estatipgenController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstatipgenTitle_pkEstatipgen}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstatipgen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstatipgenTitle_fkEstablec}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEstablec}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstatipgenTitle_fkTipogenero}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkTipogenero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estatipgenController.prepareView}" value="#{bundle.ListEstatipgenViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estatipgenController.prepareEdit}" value="#{bundle.ListEstatipgenEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estatipgenController.destroy}" value="#{bundle.ListEstatipgenDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estatipgenController.prepareCreate}" value="#{bundle.ListEstatipgenCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstatipgenIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
