<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstatipgenTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstatipgenLabel_pkEstatipgen}"/>
                    <h:outputText value="#{estatipgenController.selected.pkEstatipgen}" title="#{bundle.ViewEstatipgenTitle_pkEstatipgen}"/>
                    <h:outputText value="#{bundle.ViewEstatipgenLabel_fkEstablec}"/>
                    <h:outputText value="#{estatipgenController.selected.fkEstablec}" title="#{bundle.ViewEstatipgenTitle_fkEstablec}"/>
                    <h:outputText value="#{bundle.ViewEstatipgenLabel_fkTipogenero}"/>
                    <h:outputText value="#{estatipgenController.selected.fkTipogenero}" title="#{bundle.ViewEstatipgenTitle_fkTipogenero}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estatipgenController.destroyAndView}" value="#{bundle.ViewEstatipgenDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstatipgenEditLink}"/>
                <br />
                <h:commandLink action="#{estatipgenController.prepareCreate}" value="#{bundle.ViewEstatipgenCreateLink}" />
                <br />
                <h:commandLink action="#{estatipgenController.prepareList}" value="#{bundle.ViewEstatipgenShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstatipgenIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
