<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEstablecimientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_pkEstablec}" for="pkEstablec" />
                    <h:inputText id="pkEstablec" value="#{establecimientoController.selected.pkEstablec}" title="#{bundle.EditEstablecimientoTitle_pkEstablec}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_pkEstablec}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{establecimientoController.selected.direccion}" title="#{bundle.EditEstablecimientoTitle_direccion}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{establecimientoController.selected.nombre}" title="#{bundle.EditEstablecimientoTitle_nombre}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_nit}" for="nit" />
                    <h:inputText id="nit" value="#{establecimientoController.selected.nit}" title="#{bundle.EditEstablecimientoTitle_nit}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_nit}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_capacidad}" for="capacidad" />
                    <h:inputText id="capacidad" value="#{establecimientoController.selected.capacidad}" title="#{bundle.EditEstablecimientoTitle_capacidad}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_capacidad}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{establecimientoController.selected.precio}" title="#{bundle.EditEstablecimientoTitle_precio}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_fkDuenio}" for="fkDuenio" />
                    <h:selectOneMenu id="fkDuenio" value="#{establecimientoController.selected.fkDuenio}" title="#{bundle.EditEstablecimientoTitle_fkDuenio}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_fkDuenio}">
                        <f:selectItems value="#{duenioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEstablecimientoLabel_fkMunicilugar}" for="fkMunicilugar" />
                    <h:selectOneMenu id="fkMunicilugar" value="#{establecimientoController.selected.fkMunicilugar}" title="#{bundle.EditEstablecimientoTitle_fkMunicilugar}" required="true" requiredMessage="#{bundle.EditEstablecimientoRequiredMessage_fkMunicilugar}">
                        <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{establecimientoController.update}" value="#{bundle.EditEstablecimientoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEstablecimientoViewLink}"/>
                <br />
                <h:commandLink action="#{establecimientoController.prepareList}" value="#{bundle.EditEstablecimientoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEstablecimientoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
