<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstablecimientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstablecimientoEmpty}" rendered="#{establecimientoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{establecimientoController.items.rowCount > 0}">
                    <h:outputText value="#{establecimientoController.pagination.pageFirstItem + 1}..#{establecimientoController.pagination.pageLastItem + 1}/#{establecimientoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{establecimientoController.previous}" value="#{bundle.Previous} #{establecimientoController.pagination.pageSize}" rendered="#{establecimientoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{establecimientoController.next}" value="#{bundle.Next} #{establecimientoController.pagination.pageSize}" rendered="#{establecimientoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{establecimientoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_pkEstablec}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstablec}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_nit}"/>
                            </f:facet>
                            <h:outputText value="#{item.nit}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_capacidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.capacidad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_precio}"/>
                            </f:facet>
                            <h:outputText value="#{item.precio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_fkDuenio}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkDuenio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstablecimientoTitle_fkMunicilugar}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkMunicilugar}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{establecimientoController.prepareView}" value="#{bundle.ListEstablecimientoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{establecimientoController.prepareEdit}" value="#{bundle.ListEstablecimientoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{establecimientoController.destroy}" value="#{bundle.ListEstablecimientoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{establecimientoController.prepareCreate}" value="#{bundle.ListEstablecimientoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstablecimientoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
