<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstablecimientoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_pkEstablec}"/>
                    <h:outputText value="#{establecimientoController.selected.pkEstablec}" title="#{bundle.ViewEstablecimientoTitle_pkEstablec}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_direccion}"/>
                    <h:outputText value="#{establecimientoController.selected.direccion}" title="#{bundle.ViewEstablecimientoTitle_direccion}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_nombre}"/>
                    <h:outputText value="#{establecimientoController.selected.nombre}" title="#{bundle.ViewEstablecimientoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_nit}"/>
                    <h:outputText value="#{establecimientoController.selected.nit}" title="#{bundle.ViewEstablecimientoTitle_nit}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_capacidad}"/>
                    <h:outputText value="#{establecimientoController.selected.capacidad}" title="#{bundle.ViewEstablecimientoTitle_capacidad}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_precio}"/>
                    <h:outputText value="#{establecimientoController.selected.precio}" title="#{bundle.ViewEstablecimientoTitle_precio}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_fkDuenio}"/>
                    <h:outputText value="#{establecimientoController.selected.fkDuenio}" title="#{bundle.ViewEstablecimientoTitle_fkDuenio}"/>
                    <h:outputText value="#{bundle.ViewEstablecimientoLabel_fkMunicilugar}"/>
                    <h:outputText value="#{establecimientoController.selected.fkMunicilugar}" title="#{bundle.ViewEstablecimientoTitle_fkMunicilugar}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{establecimientoController.destroyAndView}" value="#{bundle.ViewEstablecimientoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstablecimientoEditLink}"/>
                <br />
                <h:commandLink action="#{establecimientoController.prepareCreate}" value="#{bundle.ViewEstablecimientoCreateLink}" />
                <br />
                <h:commandLink action="#{establecimientoController.prepareList}" value="#{bundle.ViewEstablecimientoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstablecimientoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
