<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstagenmusiTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstagenmusiLabel_pkEstagenmusi}" for="pkEstagenmusi" />
                    <h:inputText id="pkEstagenmusi" value="#{estagenmusiController.selected.pkEstagenmusi}" title="#{bundle.CreateEstagenmusiTitle_pkEstagenmusi}" required="true" requiredMessage="#{bundle.CreateEstagenmusiRequiredMessage_pkEstagenmusi}"/>
                    <h:outputLabel value="#{bundle.CreateEstagenmusiLabel_fkEstablec}" for="fkEstablec" />
                    <h:selectOneMenu id="fkEstablec" value="#{estagenmusiController.selected.fkEstablec}" title="#{bundle.CreateEstagenmusiTitle_fkEstablec}" required="true" requiredMessage="#{bundle.CreateEstagenmusiRequiredMessage_fkEstablec}">
                        <f:selectItems value="#{establecimientoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEstagenmusiLabel_fkGeneromusica}" for="fkGeneromusica" />
                    <h:selectOneMenu id="fkGeneromusica" value="#{estagenmusiController.selected.fkGeneromusica}" title="#{bundle.CreateEstagenmusiTitle_fkGeneromusica}" required="true" requiredMessage="#{bundle.CreateEstagenmusiRequiredMessage_fkGeneromusica}">
                        <f:selectItems value="#{generomusicaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estagenmusiController.create}" value="#{bundle.CreateEstagenmusiSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estagenmusiController.prepareList}" value="#{bundle.CreateEstagenmusiShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstagenmusiIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
