<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstagenmusiTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstagenmusiEmpty}" rendered="#{estagenmusiController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estagenmusiController.items.rowCount > 0}">
                    <h:outputText value="#{estagenmusiController.pagination.pageFirstItem + 1}..#{estagenmusiController.pagination.pageLastItem + 1}/#{estagenmusiController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estagenmusiController.previous}" value="#{bundle.Previous} #{estagenmusiController.pagination.pageSize}" rendered="#{estagenmusiController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estagenmusiController.next}" value="#{bundle.Next} #{estagenmusiController.pagination.pageSize}" rendered="#{estagenmusiController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estagenmusiController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstagenmusiTitle_pkEstagenmusi}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkEstagenmusi}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstagenmusiTitle_fkEstablec}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkEstablec}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstagenmusiTitle_fkGeneromusica}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkGeneromusica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estagenmusiController.prepareView}" value="#{bundle.ListEstagenmusiViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estagenmusiController.prepareEdit}" value="#{bundle.ListEstagenmusiEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estagenmusiController.destroy}" value="#{bundle.ListEstagenmusiDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estagenmusiController.prepareCreate}" value="#{bundle.ListEstagenmusiCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstagenmusiIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
