<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstagenmusiTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstagenmusiLabel_pkEstagenmusi}"/>
                    <h:outputText value="#{estagenmusiController.selected.pkEstagenmusi}" title="#{bundle.ViewEstagenmusiTitle_pkEstagenmusi}"/>
                    <h:outputText value="#{bundle.ViewEstagenmusiLabel_fkEstablec}"/>
                    <h:outputText value="#{estagenmusiController.selected.fkEstablec}" title="#{bundle.ViewEstagenmusiTitle_fkEstablec}"/>
                    <h:outputText value="#{bundle.ViewEstagenmusiLabel_fkGeneromusica}"/>
                    <h:outputText value="#{estagenmusiController.selected.fkGeneromusica}" title="#{bundle.ViewEstagenmusiTitle_fkGeneromusica}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estagenmusiController.destroyAndView}" value="#{bundle.ViewEstagenmusiDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstagenmusiEditLink}"/>
                <br />
                <h:commandLink action="#{estagenmusiController.prepareCreate}" value="#{bundle.ViewEstagenmusiCreateLink}" />
                <br />
                <h:commandLink action="#{estagenmusiController.prepareList}" value="#{bundle.ViewEstagenmusiShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstagenmusiIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
