<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDisponibilidadTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDisponibilidadLabel_pkDisponibilidad}" for="pkDisponibilidad" />
                    <h:inputText id="pkDisponibilidad" value="#{disponibilidadController.selected.pkDisponibilidad}" title="#{bundle.EditDisponibilidadTitle_pkDisponibilidad}" required="true" requiredMessage="#{bundle.EditDisponibilidadRequiredMessage_pkDisponibilidad}"/>
                    <h:outputLabel value="#{bundle.EditDisponibilidadLabel_horario}" for="horario" />
                    <h:inputText id="horario" value="#{disponibilidadController.selected.horario}" title="#{bundle.EditDisponibilidadTitle_horario}" required="true" requiredMessage="#{bundle.EditDisponibilidadRequiredMessage_horario}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{disponibilidadController.update}" value="#{bundle.EditDisponibilidadSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDisponibilidadViewLink}"/>
                <br />
                <h:commandLink action="#{disponibilidadController.prepareList}" value="#{bundle.EditDisponibilidadShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDisponibilidadIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
