<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDisponibilidadTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDisponibilidadEmpty}" rendered="#{disponibilidadController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{disponibilidadController.items.rowCount > 0}">
                    <h:outputText value="#{disponibilidadController.pagination.pageFirstItem + 1}..#{disponibilidadController.pagination.pageLastItem + 1}/#{disponibilidadController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{disponibilidadController.previous}" value="#{bundle.Previous} #{disponibilidadController.pagination.pageSize}" rendered="#{disponibilidadController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{disponibilidadController.next}" value="#{bundle.Next} #{disponibilidadController.pagination.pageSize}" rendered="#{disponibilidadController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{disponibilidadController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisponibilidadTitle_pkDisponibilidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkDisponibilidad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisponibilidadTitle_horario}"/>
                            </f:facet>
                            <h:outputText value="#{item.horario}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{disponibilidadController.prepareView}" value="#{bundle.ListDisponibilidadViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{disponibilidadController.prepareEdit}" value="#{bundle.ListDisponibilidadEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{disponibilidadController.destroy}" value="#{bundle.ListDisponibilidadDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{disponibilidadController.prepareCreate}" value="#{bundle.ListDisponibilidadCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDisponibilidadIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
