<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDisponibilidadTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDisponibilidadLabel_pkDisponibilidad}"/>
                    <h:outputText value="#{disponibilidadController.selected.pkDisponibilidad}" title="#{bundle.ViewDisponibilidadTitle_pkDisponibilidad}"/>
                    <h:outputText value="#{bundle.ViewDisponibilidadLabel_horario}"/>
                    <h:outputText value="#{disponibilidadController.selected.horario}" title="#{bundle.ViewDisponibilidadTitle_horario}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{disponibilidadController.destroyAndView}" value="#{bundle.ViewDisponibilidadDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDisponibilidadEditLink}"/>
                <br />
                <h:commandLink action="#{disponibilidadController.prepareCreate}" value="#{bundle.ViewDisponibilidadCreateLink}" />
                <br />
                <h:commandLink action="#{disponibilidadController.prepareList}" value="#{bundle.ViewDisponibilidadShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDisponibilidadIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
