<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAccionpermitidaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAccionpermitidaEmpty}" rendered="#{accionpermitidaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{accionpermitidaController.items.rowCount > 0}">
                    <h:outputText value="#{accionpermitidaController.pagination.pageFirstItem + 1}..#{accionpermitidaController.pagination.pageLastItem + 1}/#{accionpermitidaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{accionpermitidaController.previous}" value="#{bundle.Previous} #{accionpermitidaController.pagination.pageSize}" rendered="#{accionpermitidaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{accionpermitidaController.next}" value="#{bundle.Next} #{accionpermitidaController.pagination.pageSize}" rendered="#{accionpermitidaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{accionpermitidaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccionpermitidaTitle_pkAccipermitida}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAccipermitida}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccionpermitidaTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccionpermitidaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccionpermitidaTitle_ruta}"/>
                            </f:facet>
                            <h:outputText value="#{item.ruta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccionpermitidaTitle_fkAccipermitida}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkAccipermitida}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{accionpermitidaController.prepareView}" value="#{bundle.ListAccionpermitidaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accionpermitidaController.prepareEdit}" value="#{bundle.ListAccionpermitidaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accionpermitidaController.destroy}" value="#{bundle.ListAccionpermitidaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{accionpermitidaController.prepareCreate}" value="#{bundle.ListAccionpermitidaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAccionpermitidaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
