<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAccionpermitidaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAccionpermitidaLabel_pkAccipermitida}"/>
                    <h:outputText value="#{accionpermitidaController.selected.pkAccipermitida}" title="#{bundle.ViewAccionpermitidaTitle_pkAccipermitida}"/>
                    <h:outputText value="#{bundle.ViewAccionpermitidaLabel_codigo}"/>
                    <h:outputText value="#{accionpermitidaController.selected.codigo}" title="#{bundle.ViewAccionpermitidaTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewAccionpermitidaLabel_descripcion}"/>
                    <h:outputText value="#{accionpermitidaController.selected.descripcion}" title="#{bundle.ViewAccionpermitidaTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewAccionpermitidaLabel_ruta}"/>
                    <h:outputText value="#{accionpermitidaController.selected.ruta}" title="#{bundle.ViewAccionpermitidaTitle_ruta}"/>
                    <h:outputText value="#{bundle.ViewAccionpermitidaLabel_fkAccipermitida}"/>
                    <h:outputText value="#{accionpermitidaController.selected.fkAccipermitida}" title="#{bundle.ViewAccionpermitidaTitle_fkAccipermitida}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accionpermitidaController.destroyAndView}" value="#{bundle.ViewAccionpermitidaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAccionpermitidaEditLink}"/>
                <br />
                <h:commandLink action="#{accionpermitidaController.prepareCreate}" value="#{bundle.ViewAccionpermitidaCreateLink}" />
                <br />
                <h:commandLink action="#{accionpermitidaController.prepareList}" value="#{bundle.ViewAccionpermitidaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAccionpermitidaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
