<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPlantillaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPlantillaLabel_pkPlantilla}" for="pkPlantilla" />
                    <h:inputText id="pkPlantilla" value="#{plantillaController.selected.pkPlantilla}" title="#{bundle.EditPlantillaTitle_pkPlantilla}" required="true" requiredMessage="#{bundle.EditPlantillaRequiredMessage_pkPlantilla}"/>
                    <h:outputLabel value="#{bundle.EditPlantillaLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{plantillaController.selected.codigo}" title="#{bundle.EditPlantillaTitle_codigo}" required="true" requiredMessage="#{bundle.EditPlantillaRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.EditPlantillaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{plantillaController.selected.descripcion}" title="#{bundle.EditPlantillaTitle_descripcion}" required="true" requiredMessage="#{bundle.EditPlantillaRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{plantillaController.update}" value="#{bundle.EditPlantillaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPlantillaViewLink}"/>
                <br />
                <h:commandLink action="#{plantillaController.prepareList}" value="#{bundle.EditPlantillaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPlantillaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
