<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPlantillaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPlantillaEmpty}" rendered="#{plantillaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{plantillaController.items.rowCount > 0}">
                    <h:outputText value="#{plantillaController.pagination.pageFirstItem + 1}..#{plantillaController.pagination.pageLastItem + 1}/#{plantillaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{plantillaController.previous}" value="#{bundle.Previous} #{plantillaController.pagination.pageSize}" rendered="#{plantillaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{plantillaController.next}" value="#{bundle.Next} #{plantillaController.pagination.pageSize}" rendered="#{plantillaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{plantillaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPlantillaTitle_pkPlantilla}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkPlantilla}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPlantillaTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPlantillaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{plantillaController.prepareView}" value="#{bundle.ListPlantillaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{plantillaController.prepareEdit}" value="#{bundle.ListPlantillaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{plantillaController.destroy}" value="#{bundle.ListPlantillaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{plantillaController.prepareCreate}" value="#{bundle.ListPlantillaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPlantillaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
