<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCronogramaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCronogramaLabel_pkCronogra}" for="pkCronogra" />
                    <h:inputText id="pkCronogra" value="#{cronogramaController.selected.pkCronogra}" title="#{bundle.EditCronogramaTitle_pkCronogra}" required="true" requiredMessage="#{bundle.EditCronogramaRequiredMessage_pkCronogra}"/>
                    <h:outputLabel value="#{bundle.EditCronogramaLabel_hora}" for="hora" />
                    <h:inputText id="hora" value="#{cronogramaController.selected.hora}" title="#{bundle.EditCronogramaTitle_hora}" required="true" requiredMessage="#{bundle.EditCronogramaRequiredMessage_hora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCronogramaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{cronogramaController.selected.descripcion}" title="#{bundle.EditCronogramaTitle_descripcion}" required="true" requiredMessage="#{bundle.EditCronogramaRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{cronogramaController.update}" value="#{bundle.EditCronogramaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCronogramaViewLink}"/>
                <br />
                <h:commandLink action="#{cronogramaController.prepareList}" value="#{bundle.EditCronogramaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCronogramaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
