<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCronogramaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCronogramaEmpty}" rendered="#{cronogramaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cronogramaController.items.rowCount > 0}">
                    <h:outputText value="#{cronogramaController.pagination.pageFirstItem + 1}..#{cronogramaController.pagination.pageLastItem + 1}/#{cronogramaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cronogramaController.previous}" value="#{bundle.Previous} #{cronogramaController.pagination.pageSize}" rendered="#{cronogramaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cronogramaController.next}" value="#{bundle.Next} #{cronogramaController.pagination.pageSize}" rendered="#{cronogramaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cronogramaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCronogramaTitle_pkCronogra}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkCronogra}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCronogramaTitle_hora}"/>
                            </f:facet>
                            <h:outputText value="#{item.hora}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCronogramaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cronogramaController.prepareView}" value="#{bundle.ListCronogramaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cronogramaController.prepareEdit}" value="#{bundle.ListCronogramaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cronogramaController.destroy}" value="#{bundle.ListCronogramaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cronogramaController.prepareCreate}" value="#{bundle.ListCronogramaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCronogramaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
