<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCronogramaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCronogramaLabel_pkCronogra}"/>
                    <h:outputText value="#{cronogramaController.selected.pkCronogra}" title="#{bundle.ViewCronogramaTitle_pkCronogra}"/>
                    <h:outputText value="#{bundle.ViewCronogramaLabel_hora}"/>
                    <h:outputText value="#{cronogramaController.selected.hora}" title="#{bundle.ViewCronogramaTitle_hora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCronogramaLabel_descripcion}"/>
                    <h:outputText value="#{cronogramaController.selected.descripcion}" title="#{bundle.ViewCronogramaTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cronogramaController.destroyAndView}" value="#{bundle.ViewCronogramaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCronogramaEditLink}"/>
                <br />
                <h:commandLink action="#{cronogramaController.prepareCreate}" value="#{bundle.ViewCronogramaCreateLink}" />
                <br />
                <h:commandLink action="#{cronogramaController.prepareList}" value="#{bundle.ViewCronogramaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCronogramaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
