<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAccperplanTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAccperplanLabel_pkAcciperpla}" for="pkAcciperpla" />
                    <h:inputText id="pkAcciperpla" value="#{accperplanController.selected.pkAcciperpla}" title="#{bundle.CreateAccperplanTitle_pkAcciperpla}" required="true" requiredMessage="#{bundle.CreateAccperplanRequiredMessage_pkAcciperpla}"/>
                    <h:outputLabel value="#{bundle.CreateAccperplanLabel_pkAccipermitida}" for="pkAccipermitida" />
                    <h:selectOneMenu id="pkAccipermitida" value="#{accperplanController.selected.pkAccipermitida}" title="#{bundle.CreateAccperplanTitle_pkAccipermitida}" >
                        <f:selectItems value="#{accionpermitidaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateAccperplanLabel_fkPlantilla}" for="fkPlantilla" />
                    <h:selectOneMenu id="fkPlantilla" value="#{accperplanController.selected.fkPlantilla}" title="#{bundle.CreateAccperplanTitle_fkPlantilla}" required="true" requiredMessage="#{bundle.CreateAccperplanRequiredMessage_fkPlantilla}">
                        <f:selectItems value="#{plantillaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accperplanController.create}" value="#{bundle.CreateAccperplanSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{accperplanController.prepareList}" value="#{bundle.CreateAccperplanShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAccperplanIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
