<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAccperplanTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAccperplanLabel_pkAcciperpla}" for="pkAcciperpla" />
                    <h:inputText id="pkAcciperpla" value="#{accperplanController.selected.pkAcciperpla}" title="#{bundle.EditAccperplanTitle_pkAcciperpla}" required="true" requiredMessage="#{bundle.EditAccperplanRequiredMessage_pkAcciperpla}"/>
                    <h:outputLabel value="#{bundle.EditAccperplanLabel_pkAccipermitida}" for="pkAccipermitida" />
                    <h:selectOneMenu id="pkAccipermitida" value="#{accperplanController.selected.pkAccipermitida}" title="#{bundle.EditAccperplanTitle_pkAccipermitida}" >
                        <f:selectItems value="#{accionpermitidaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAccperplanLabel_fkPlantilla}" for="fkPlantilla" />
                    <h:selectOneMenu id="fkPlantilla" value="#{accperplanController.selected.fkPlantilla}" title="#{bundle.EditAccperplanTitle_fkPlantilla}" required="true" requiredMessage="#{bundle.EditAccperplanRequiredMessage_fkPlantilla}">
                        <f:selectItems value="#{plantillaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{accperplanController.update}" value="#{bundle.EditAccperplanSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAccperplanViewLink}"/>
                <br />
                <h:commandLink action="#{accperplanController.prepareList}" value="#{bundle.EditAccperplanShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAccperplanIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
