<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAccperplanTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAccperplanEmpty}" rendered="#{accperplanController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{accperplanController.items.rowCount > 0}">
                    <h:outputText value="#{accperplanController.pagination.pageFirstItem + 1}..#{accperplanController.pagination.pageLastItem + 1}/#{accperplanController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{accperplanController.previous}" value="#{bundle.Previous} #{accperplanController.pagination.pageSize}" rendered="#{accperplanController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{accperplanController.next}" value="#{bundle.Next} #{accperplanController.pagination.pageSize}" rendered="#{accperplanController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{accperplanController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperplanTitle_pkAcciperpla}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAcciperpla}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperplanTitle_pkAccipermitida}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkAccipermitida}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccperplanTitle_fkPlantilla}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkPlantilla}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{accperplanController.prepareView}" value="#{bundle.ListAccperplanViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accperplanController.prepareEdit}" value="#{bundle.ListAccperplanEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accperplanController.destroy}" value="#{bundle.ListAccperplanDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{accperplanController.prepareCreate}" value="#{bundle.ListAccperplanCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAccperplanIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
