<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAccperplanTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAccperplanLabel_pkAcciperpla}"/>
                    <h:outputText value="#{accperplanController.selected.pkAcciperpla}" title="#{bundle.ViewAccperplanTitle_pkAcciperpla}"/>
                    <h:outputText value="#{bundle.ViewAccperplanLabel_pkAccipermitida}"/>
                    <h:outputText value="#{accperplanController.selected.pkAccipermitida}" title="#{bundle.ViewAccperplanTitle_pkAccipermitida}"/>
                    <h:outputText value="#{bundle.ViewAccperplanLabel_fkPlantilla}"/>
                    <h:outputText value="#{accperplanController.selected.fkPlantilla}" title="#{bundle.ViewAccperplanTitle_fkPlantilla}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accperplanController.destroyAndView}" value="#{bundle.ViewAccperplanDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAccperplanEditLink}"/>
                <br />
                <h:commandLink action="#{accperplanController.prepareCreate}" value="#{bundle.ViewAccperplanCreateLink}" />
                <br />
                <h:commandLink action="#{accperplanController.prepareList}" value="#{bundle.ViewAccperplanShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAccperplanIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
