<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditGeneromusicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditGeneromusicaLabel_pkGeneromusica}" for="pkGeneromusica" />
                    <h:inputText id="pkGeneromusica" value="#{generomusicaController.selected.pkGeneromusica}" title="#{bundle.EditGeneromusicaTitle_pkGeneromusica}" required="true" requiredMessage="#{bundle.EditGeneromusicaRequiredMessage_pkGeneromusica}"/>
                    <h:outputLabel value="#{bundle.EditGeneromusicaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{generomusicaController.selected.nombre}" title="#{bundle.EditGeneromusicaTitle_nombre}" required="true" requiredMessage="#{bundle.EditGeneromusicaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditGeneromusicaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{generomusicaController.selected.descripcion}" title="#{bundle.EditGeneromusicaTitle_descripcion}" required="true" requiredMessage="#{bundle.EditGeneromusicaRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{generomusicaController.update}" value="#{bundle.EditGeneromusicaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditGeneromusicaViewLink}"/>
                <br />
                <h:commandLink action="#{generomusicaController.prepareList}" value="#{bundle.EditGeneromusicaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditGeneromusicaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
