<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewGeneromusicaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewGeneromusicaLabel_pkGeneromusica}"/>
                    <h:outputText value="#{generomusicaController.selected.pkGeneromusica}" title="#{bundle.ViewGeneromusicaTitle_pkGeneromusica}"/>
                    <h:outputText value="#{bundle.ViewGeneromusicaLabel_nombre}"/>
                    <h:outputText value="#{generomusicaController.selected.nombre}" title="#{bundle.ViewGeneromusicaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewGeneromusicaLabel_descripcion}"/>
                    <h:outputText value="#{generomusicaController.selected.descripcion}" title="#{bundle.ViewGeneromusicaTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{generomusicaController.destroyAndView}" value="#{bundle.ViewGeneromusicaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewGeneromusicaEditLink}"/>
                <br />
                <h:commandLink action="#{generomusicaController.prepareCreate}" value="#{bundle.ViewGeneromusicaCreateLink}" />
                <br />
                <h:commandLink action="#{generomusicaController.prepareList}" value="#{bundle.ViewGeneromusicaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewGeneromusicaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
