<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMunicipioLabel_pkMunicipio}" for="pkMunicipio" />
                    <h:inputText id="pkMunicipio" value="#{municipioController.selected.pkMunicipio}" title="#{bundle.CreateMunicipioTitle_pkMunicipio}" required="true" requiredMessage="#{bundle.CreateMunicipioRequiredMessage_pkMunicipio}"/>
                    <h:outputLabel value="#{bundle.CreateMunicipioLabel_codigo}" for="codigo" />
                    <h:inputText id="codigo" value="#{municipioController.selected.codigo}" title="#{bundle.CreateMunicipioTitle_codigo}" required="true" requiredMessage="#{bundle.CreateMunicipioRequiredMessage_codigo}"/>
                    <h:outputLabel value="#{bundle.CreateMunicipioLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{municipioController.selected.nombre}" title="#{bundle.CreateMunicipioTitle_nombre}" required="true" requiredMessage="#{bundle.CreateMunicipioRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateMunicipioLabel_fkDepartamen}" for="fkDepartamen" />
                    <h:selectOneMenu id="fkDepartamen" value="#{municipioController.selected.fkDepartamen}" title="#{bundle.CreateMunicipioTitle_fkDepartamen}" required="true" requiredMessage="#{bundle.CreateMunicipioRequiredMessage_fkDepartamen}">
                        <f:selectItems value="#{departamentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{municipioController.create}" value="#{bundle.CreateMunicipioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{municipioController.prepareList}" value="#{bundle.CreateMunicipioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMunicipioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
