<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMunicipioEmpty}" rendered="#{municipioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{municipioController.items.rowCount > 0}">
                    <h:outputText value="#{municipioController.pagination.pageFirstItem + 1}..#{municipioController.pagination.pageLastItem + 1}/#{municipioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{municipioController.previous}" value="#{bundle.Previous} #{municipioController.pagination.pageSize}" rendered="#{municipioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{municipioController.next}" value="#{bundle.Next} #{municipioController.pagination.pageSize}" rendered="#{municipioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{municipioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMunicipioTitle_pkMunicipio}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkMunicipio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMunicipioTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMunicipioTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMunicipioTitle_fkDepartamen}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkDepartamen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{municipioController.prepareView}" value="#{bundle.ListMunicipioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{municipioController.prepareEdit}" value="#{bundle.ListMunicipioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{municipioController.destroy}" value="#{bundle.ListMunicipioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{municipioController.prepareCreate}" value="#{bundle.ListMunicipioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMunicipioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
