<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMunicipioLabel_pkMunicipio}"/>
                    <h:outputText value="#{municipioController.selected.pkMunicipio}" title="#{bundle.ViewMunicipioTitle_pkMunicipio}"/>
                    <h:outputText value="#{bundle.ViewMunicipioLabel_codigo}"/>
                    <h:outputText value="#{municipioController.selected.codigo}" title="#{bundle.ViewMunicipioTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewMunicipioLabel_nombre}"/>
                    <h:outputText value="#{municipioController.selected.nombre}" title="#{bundle.ViewMunicipioTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewMunicipioLabel_fkDepartamen}"/>
                    <h:outputText value="#{municipioController.selected.fkDepartamen}" title="#{bundle.ViewMunicipioTitle_fkDepartamen}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{municipioController.destroyAndView}" value="#{bundle.ViewMunicipioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMunicipioEditLink}"/>
                <br />
                <h:commandLink action="#{municipioController.prepareCreate}" value="#{bundle.ViewMunicipioCreateLink}" />
                <br />
                <h:commandLink action="#{municipioController.prepareList}" value="#{bundle.ViewMunicipioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMunicipioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
