<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListGeneroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListGeneroEmpty}" rendered="#{generoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{generoController.items.rowCount > 0}">
                    <h:outputText value="#{generoController.pagination.pageFirstItem + 1}..#{generoController.pagination.pageLastItem + 1}/#{generoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{generoController.previous}" value="#{bundle.Previous} #{generoController.pagination.pageSize}" rendered="#{generoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{generoController.next}" value="#{bundle.Next} #{generoController.pagination.pageSize}" rendered="#{generoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{generoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGeneroTitle_pkGenero}"/>
                            </f:facet>
                            <h:outputText value="#{item.pkGenero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGeneroTitle_codigo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGeneroTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{generoController.prepareView}" value="#{bundle.ListGeneroViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{generoController.prepareEdit}" value="#{bundle.ListGeneroEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{generoController.destroy}" value="#{bundle.ListGeneroDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{generoController.prepareCreate}" value="#{bundle.ListGeneroCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListGeneroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
