<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewGeneroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewGeneroLabel_pkGenero}"/>
                    <h:outputText value="#{generoController.selected.pkGenero}" title="#{bundle.ViewGeneroTitle_pkGenero}"/>
                    <h:outputText value="#{bundle.ViewGeneroLabel_codigo}"/>
                    <h:outputText value="#{generoController.selected.codigo}" title="#{bundle.ViewGeneroTitle_codigo}"/>
                    <h:outputText value="#{bundle.ViewGeneroLabel_descripcion}"/>
                    <h:outputText value="#{generoController.selected.descripcion}" title="#{bundle.ViewGeneroTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{generoController.destroyAndView}" value="#{bundle.ViewGeneroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewGeneroEditLink}"/>
                <br />
                <h:commandLink action="#{generoController.prepareCreate}" value="#{bundle.ViewGeneroCreateLink}" />
                <br />
                <h:commandLink action="#{generoController.prepareList}" value="#{bundle.ViewGeneroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewGeneroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
