<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/catalogos/accionpermitida/List" value="Show All Accionpermitida Items"/>
        <br />
        <h:link outcome="/catalogos/accperplan/List" value="Show All Accperplan Items"/>
        <br />
        <h:link outcome="/catalogos/accperusu/List" value="Show All Accperusu Items"/>
        <br />
        <h:link outcome="/catalogos/artista/List" value="Show All Artista Items"/>
        <br />
        <h:link outcome="/catalogos/asiste/List" value="Show All Asiste Items"/>
        <br />
        <h:link outcome="/catalogos/cliente/List" value="Show All Cliente Items"/>
        <br />
        <h:link outcome="/catalogos/cronograma/List" value="Show All Cronograma Items"/>
        <br />
        <h:link outcome="/catalogos/departamento/List" value="Show All Departamento Items"/>
        <br />
        <h:link outcome="/catalogos/disponibilidad/List" value="Show All Disponibilidad Items"/>
        <br />
        <h:link outcome="/catalogos/duenio/List" value="Show All Duenio Items"/>
        <br />
        <h:link outcome="/catalogos/establecimiento/List" value="Show All Establecimiento Items"/>
        <br />
        <h:link outcome="/catalogos/estadispo/List" value="Show All Estadispo Items"/>
        <br />
        <h:link outcome="/catalogos/estado/List" value="Show All Estado Items"/>
        <br />
        <h:link outcome="/catalogos/estadocivil/List" value="Show All Estadocivil Items"/>
        <br />
        <h:link outcome="/catalogos/estadousuario/List" value="Show All Estadousuario Items"/>
        <br />
        <h:link outcome="/catalogos/estagenmusi/List" value="Show All Estagenmusi Items"/>
        <br />
        <h:link outcome="/catalogos/estatipgen/List" value="Show All Estatipgen Items"/>
        <br />
        <h:link outcome="/catalogos/evento/List" value="Show All Evento Items"/>
        <br />
        <h:link outcome="/catalogos/genero/List" value="Show All Genero Items"/>
        <br />
        <h:link outcome="/catalogos/generomusica/List" value="Show All Generomusica Items"/>
        <br />
        <h:link outcome="/catalogos/municipio/List" value="Show All Municipio Items"/>
        <br />
        <h:link outcome="/catalogos/pais/List" value="Show All Pais Items"/>
        <br />
        <h:link outcome="/catalogos/participa/List" value="Show All Participa Items"/>
        <br />
        <h:link outcome="/catalogos/persona/List" value="Show All Persona Items"/>
        <br />
        <h:link outcome="/catalogos/plantilla/List" value="Show All Plantilla Items"/>
        <br />
        <h:link outcome="/catalogos/reserva/List" value="Show All Reserva Items"/>
        <br />
        <h:link outcome="/catalogos/telefono/List" value="Show All Telefono Items"/>
        <br />
        <h:link outcome="/catalogos/tipoartista/List" value="Show All Tipoartista Items"/>
        <br />
        <h:link outcome="/catalogos/tipoevento/List" value="Show All Tipoevento Items"/>
        <br />
        <h:link outcome="/catalogos/tipogenero/List" value="Show All Tipogenero Items"/>
        <br />
        <h:link outcome="/catalogos/tipoidentificacion/List" value="Show All Tipoidentificacion Items"/>
        <br />
        <h:link outcome="/catalogos/tipotelefono/List" value="Show All Tipotelefono Items"/>
        <br />
        <h:link outcome="/catalogos/usuario/List" value="Show All Usuario Items"/>
    </h:body>

































</html>

