<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_pkPersona}" for="pkPersona" />
                    <h:inputText id="pkPersona" value="#{personaController.selected.pkPersona}" title="#{bundle.CreatePersonaTitle_pkPersona}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_pkPersona}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_identificacion}" for="identificacion" />
                    <h:inputText id="identificacion" value="#{personaController.selected.identificacion}" title="#{bundle.CreatePersonaTitle_identificacion}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_identificacion}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{personaController.selected.nombre}" title="#{bundle.CreatePersonaTitle_nombre}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_apellido}" for="apellido" />
                    <h:inputText id="apellido" value="#{personaController.selected.apellido}" title="#{bundle.CreatePersonaTitle_apellido}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_apellido}"/>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_email}" for="email" />
                    <h:inputText id="email" value="#{personaController.selected.email}" title="#{bundle.CreatePersonaTitle_email}" />
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_fechanacimiento}" for="fechanacimiento" />
                    <h:inputText id="fechanacimiento" value="#{personaController.selected.fechanacimiento}" title="#{bundle.CreatePersonaTitle_fechanacimiento}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_fechanacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_pkEstadocivil}" for="pkEstadocivil" />
                    <h:selectOneMenu id="pkEstadocivil" value="#{personaController.selected.pkEstadocivil}" title="#{bundle.CreatePersonaTitle_pkEstadocivil}" >
                        <f:selectItems value="#{estadocivilController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_pkGenero}" for="pkGenero" />
                    <h:selectOneMenu id="pkGenero" value="#{personaController.selected.pkGenero}" title="#{bundle.CreatePersonaTitle_pkGenero}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_pkGenero}">
                        <f:selectItems value="#{generoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_fkMunicipio}" for="fkMunicipio" />
                    <h:selectOneMenu id="fkMunicipio" value="#{personaController.selected.fkMunicipio}" title="#{bundle.CreatePersonaTitle_fkMunicipio}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_fkMunicipio}">
                        <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonaLabel_fkTipoidentifi}" for="fkTipoidentifi" />
                    <h:selectOneMenu id="fkTipoidentifi" value="#{personaController.selected.fkTipoidentifi}" title="#{bundle.CreatePersonaTitle_fkTipoidentifi}" required="true" requiredMessage="#{bundle.CreatePersonaRequiredMessage_fkTipoidentifi}">
                        <f:selectItems value="#{tipoidentificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personaController.create}" value="#{bundle.CreatePersonaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.CreatePersonaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePersonaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
