<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPersonaLabel_pkPersona}" for="pkPersona" />
                    <h:inputText id="pkPersona" value="#{personaController.selected.pkPersona}" title="#{bundle.EditPersonaTitle_pkPersona}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_pkPersona}"/>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_identificacion}" for="identificacion" />
                    <h:inputText id="identificacion" value="#{personaController.selected.identificacion}" title="#{bundle.EditPersonaTitle_identificacion}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_identificacion}"/>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{personaController.selected.nombre}" title="#{bundle.EditPersonaTitle_nombre}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_apellido}" for="apellido" />
                    <h:inputText id="apellido" value="#{personaController.selected.apellido}" title="#{bundle.EditPersonaTitle_apellido}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_apellido}"/>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_email}" for="email" />
                    <h:inputText id="email" value="#{personaController.selected.email}" title="#{bundle.EditPersonaTitle_email}" />
                    <h:outputLabel value="#{bundle.EditPersonaLabel_fechanacimiento}" for="fechanacimiento" />
                    <h:inputText id="fechanacimiento" value="#{personaController.selected.fechanacimiento}" title="#{bundle.EditPersonaTitle_fechanacimiento}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_fechanacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_pkEstadocivil}" for="pkEstadocivil" />
                    <h:selectOneMenu id="pkEstadocivil" value="#{personaController.selected.pkEstadocivil}" title="#{bundle.EditPersonaTitle_pkEstadocivil}" >
                        <f:selectItems value="#{estadocivilController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_pkGenero}" for="pkGenero" />
                    <h:selectOneMenu id="pkGenero" value="#{personaController.selected.pkGenero}" title="#{bundle.EditPersonaTitle_pkGenero}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_pkGenero}">
                        <f:selectItems value="#{generoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_fkMunicipio}" for="fkMunicipio" />
                    <h:selectOneMenu id="fkMunicipio" value="#{personaController.selected.fkMunicipio}" title="#{bundle.EditPersonaTitle_fkMunicipio}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_fkMunicipio}">
                        <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPersonaLabel_fkTipoidentifi}" for="fkTipoidentifi" />
                    <h:selectOneMenu id="fkTipoidentifi" value="#{personaController.selected.fkTipoidentifi}" title="#{bundle.EditPersonaTitle_fkTipoidentifi}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_fkTipoidentifi}">
                        <f:selectItems value="#{tipoidentificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{personaController.update}" value="#{bundle.EditPersonaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPersonaViewLink}"/>
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.EditPersonaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPersonaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
