<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersonaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersonaLabel_pkPersona}"/>
                    <h:outputText value="#{personaController.selected.pkPersona}" title="#{bundle.ViewPersonaTitle_pkPersona}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_identificacion}"/>
                    <h:outputText value="#{personaController.selected.identificacion}" title="#{bundle.ViewPersonaTitle_identificacion}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_nombre}"/>
                    <h:outputText value="#{personaController.selected.nombre}" title="#{bundle.ViewPersonaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_apellido}"/>
                    <h:outputText value="#{personaController.selected.apellido}" title="#{bundle.ViewPersonaTitle_apellido}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_email}"/>
                    <h:outputText value="#{personaController.selected.email}" title="#{bundle.ViewPersonaTitle_email}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_fechanacimiento}"/>
                    <h:outputText value="#{personaController.selected.fechanacimiento}" title="#{bundle.ViewPersonaTitle_fechanacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPersonaLabel_pkEstadocivil}"/>
                    <h:outputText value="#{personaController.selected.pkEstadocivil}" title="#{bundle.ViewPersonaTitle_pkEstadocivil}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_pkGenero}"/>
                    <h:outputText value="#{personaController.selected.pkGenero}" title="#{bundle.ViewPersonaTitle_pkGenero}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_fkMunicipio}"/>
                    <h:outputText value="#{personaController.selected.fkMunicipio}" title="#{bundle.ViewPersonaTitle_fkMunicipio}"/>
                    <h:outputText value="#{bundle.ViewPersonaLabel_fkTipoidentifi}"/>
                    <h:outputText value="#{personaController.selected.fkTipoidentifi}" title="#{bundle.ViewPersonaTitle_fkTipoidentifi}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personaController.destroyAndView}" value="#{bundle.ViewPersonaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersonaEditLink}"/>
                <br />
                <h:commandLink action="#{personaController.prepareCreate}" value="#{bundle.ViewPersonaCreateLink}" />
                <br />
                <h:commandLink action="#{personaController.prepareList}" value="#{bundle.ViewPersonaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersonaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
